.button {
    cursor: pointer;
    color: var(--text-button);
    font-size: 90%;
    font-weight: light;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh;
    margin-right: 0.2vh;
    background-color: var(--bc-button);
    width: 4vh;
    height: 4vh;
    border-radius: 1.25vh;
    float: right;
    transition: 0.4s;
}

@media screen and (min-width: 800px) {
    .button:hover {
        background-color: var(--bc-button-h);
        width: 5vh;
        font-size: 130%;
        transition: 0.2s;
        color: var(--text-button-h);
        font-weight: bold;
    }
}