.navbar-container{
    position: fixed;
    width: 100%;
    height: 5vh;
    top: 0;
    direction: rtl;
}

.button{
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    float: right;
    margin-right: 2%;
    height: auto;
    transition: 200ms ease-out;
}
.button>a {
    text-decoration: none;
    color: black;
}
.button>a:hover{
    color: rgb(187, 59, 80);
    transition: 200ms linear;

}

.current>a{
    color: rgb(187, 59, 80);
}
