.twocontainer{
    position: relative;
    top: 5vh;
    width: 100%;
    height: auto;
    background-color: red;
}

.imagehome{
    width: 95%;
    position:absolute;
    cursor: pointer;
    
}

.first1 {
    left: -45.5%;
    transition: 300ms linear;
}

.second1{
    right: -45.5%;
    transition: 300ms linear;
}
